#div1{
    border: solid 2px ;
    height: 715px;
    width: 1500px;
    background: url(shoppingback.jpg);
}
form{
    border: solid 2px ;
    height: 150px;
    width: 300px;
    background-color: aliceblue;
    margin-left: 600px;
    margin-top: 200px;
}
input[type="password"],input[type="password"]{
    width: 293px;
    background-color:rgb(177, 209, 238);
    font-size: larger;
    border: none;
    outline: none;
    border-bottom:solid 2px aquamarine;
}
label{
    font-size: larger;
    font-weight: bold;
}
button{
    margin-left: 125px;
    margin-top: 10px;
}
button a{
    text-decoration: none;
    font-size: large;
    font-weight: bold;
}
button:hover{
    background-color: aquamarine;
}